:root {
    --primary-color: #3832a8;
    --yellow-color: #a89632;
    --sec-yellow: #ffe645;
    --sec2-yellow: #e2aa02;
  }

.home-container {
   display: flex; 
   .all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 2px solid #e2aa02;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
   }
   .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   h4 {
    text-transform: uppercase;
    font-weight: bold;
    border-left: 5px solid #ffe645;
    padding-left: 10px;
   }
   .view-all {
    color: black;
    cursor: pointer;
    font-weight: bold;
   }
   .movies-thumbnail {
     display: flex;
     justify-content: space-between;
     .movie {
      .cover {
        img {
          border-radius: 10px;
        }
      }
      .detail {
        width: 180px;
        .name {
          font-weight: bold;
          height: 50px;
          margin-top: 5px;
          cursor: pointer;
        }
      }
     }
    }
   .popular-movies {
    width: 25%;
    min-height: calc(100vh - 80px);

   }
}
.star {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  color: #d3d3d3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 3px;
    height: 30px;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
.text-warning {
  color: #ff902b !important;
}
